<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Home
        </title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/headerCSS.css">
        <link rel="stylesheet" type="text/css" href="../static/homeCSS.css">
        <script src="https://kit.fontawesome.com/2162f78ebf.js"></script>
        <script type="text/javascript">
            function logout(){
            var option = confirm("Are you sure you want to logout ?");
            if( option == true){
                window.open("http://localhost:8080/logout","_self")
            }
        
        }
        </script>
    </head>
        <body>
                <div class="header">
                        <ul>
                            <li  class="active"> <a href="http://localhost:8080/"> Home </a></li>
                            <li> <a href="http://localhost:8080/upload"> upload </a></li>
                            <li> <a href="http://localhost:8080/project"> Projects </a></li>
                           
                           {{if .Username}}
                            <li id="logout"> <a  class="right" onclick="logout()"> Logout</a></li>
                           <li id="profile"> <a class="right"> {{.Username}}</a></li> 
                            {{else}}
                            <li id="login"> <a href="http://localhost:8080/login" class="right"> Login </a></li>
                
                            {{end}}
                        </ul>
        
                        <hr>
                    </div>

                <div class="main">
                    <div class="about">
                        <h3>Runnable Project Hub</h3>
                        <p style="line-height: 30px">Runnable Project Hub is a platform to host various kinds of projects like websites , android apps and desktop apps for our university(UTYCC).Our System provides a runnable environment for projects.
                        </p>
                        <br>
                        <label>Runnable Project Hub purposes</label>
                        <ul>
                            <li>To access all academic projects in one place</li>
                            <li>To provide a source of ideas and inspirations from previous projects</li>
                            <li>To provide a runnable environment on the platform without downloading any dependencies</li>
                        </ul>
                    </div> 
                    <div class="photogallery">
                        <label>If you want to visit our adademic projects,you can visit from <a href="http://localhost:8080/project">here.</a></label><br><br>
                        <label>This is our sample runnable environments.</label>
                        <center>
                            <!--<img src="http://localhost:8080/picture1.png" width="40%"><br>
                            <img src="http://localhost:8080/picture2.png" width="30%">
                            <img src="http://localhost:8080/picture3.png" width="30%">-->
                        </center>
                        <br>
                        <label>But if you want to upload your project or test our academic projects,you need to <a href="http://localhost:8080/register">register.</a></label>
                    </div> 
                </div>
        </body>
</html>