
<!DOCTYPE html>
<html>
 
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Login
        </title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/headerCSS.css">
        <link rel="stylesheet" type="text/css" href="../static/loginCSS.css">
        <script src="https://kit.fontawesome.com/2162f78ebf.js"></script>
       
    </head>

    
        <body>
                 <div class="header">
                            <ul>
                                    <li> <a href="http://localhost:8080/"> Home </a></li>
                                    <li > <a href="http://localhost:8080/upload"> upload </a></li>
                                    <li> <a href="http://localhost:8080/project"> Projects </a></li>
                                
                                    <li class="active" id="login"> <a id="login_link" href="http://localhost:8080/login" class="right" > Login </a></li>
                                    {{if .Username}}    
                                  
                                    <li id="profile"> <a class="right">{{.Username}}</a></li> 
                                    {{else}}
                                    
                                   
                                    {{end}}

                                
                            </ul>
                            <hr>
                </div>
                <div class="main">
                    <center>    
                     
                        <form method="POST" action="http://localhost:8080/login">
                        <table>
                            <tr height="50">
                                <td>
                                    <label class="uploadLabels" id="email">Email : </label>                                    
                                </td>
                                <td>
                                    <input type="email" name="email" id="email" required/>                                    
                                </td>
                            </tr>
                            <tr height="40">
                                <td>
                                    <label class="uploadLabels" id="upload_folder"> Password : </label>
                                </td>
                                <td>
                                    <input type="Password" name="password" id="password" required/>
                                </td>
                            </tr>
                        </table> 
                      
                        <button class="loginButton" type="submit">Login</button>  
                      
                    </form>
                    
                    
                         <br>

                        <label> Do not have an account ?  <a href="http://localhost:8080/register">Register Now</a></label>   
                        <br><br> 
                       
                        {{if .Fail}} <label style="color: red;">{{.Fail}}</label> {{end}}
                                              
                    </center>
                </div>


        </body>
</html>
