<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Upload
        </title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/headerCSS.css">
        <link rel="stylesheet" type="text/css" href="../static/projectListCss.css">
        <script src="https://kit.fontawesome.com/2162f78ebf.js"></script>
        <script>
        
            function startContainer(ipAddress,containerName,projectType){
                if(projectType == "Website"){
                    window.open("http://"+ipAddress,"_blank")
                }else{
                    window.open("http://"+ipAddress,"_blank")
                    setTimeout( function ajaxCall(){
                var data = new FormData();
                data.append('containerName', containerName);
                data.append('projectType', projectType);
                console.log("before sent :"+containerName+" "+projectType);

                var xhttp = new XMLHttpRequest();
                xhttp.onload = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log("response text :"+this.responseText);
                }
                };
                xhttp.open("POST", "startApplication", true);
                xhttp.send(data);
                 //   xhr.setRequestHeader("Content-Type","multipart/form-data");
                console.log("calling ajax");
               
                
            },5000);
                }
                
                
            }


            function download(zipName){
                
                var ip = "http://localhost:8080/download?zipName="+zipName;
                var xhttp = new XMLHttpRequest();
                window.open(ip,"_blank");
               // xhttp.onload = function() {
               // if (this.readyState == 4 && this.status == 200) {
               //     console.log("download file reached");
               // }
               // };
               // xhttp.open("GET", "download?zipName="+zipName, true);
                //xhttp.send();
                 //   xhr.setRequestHeader("Content-Type","multipart/form-data");
                //console.log("calling ajax");
            }
           
        function logout(){
            var option = confirm("Are you sure you want to logout ?");
            if( option == true){
                window.open("http://localhost:8080/logout","_self")
            }
        
        }
            
        
        </script>
         
        
    </head>
        <body>
                <div class="header">
                    <ul>
                            <li> <a href="http://localhost:8080/"> Home </a></li>
                            <li > <a href="http://localhost:8080/upload"> upload </a></li>
                            <li > <a href="http://localhost:8080/project"> Projects </a></li>
                         
                            {{if .Username}}
                            <li id="logout"> <a class="right" onclick="logout()" > Logout</a></li>
                           <li id="profile" class="active"> <a href="http://localhost:8080/profile?userid={{.UserID}}&username={{.Username}}" class="right"> {{.Username}}</a></li> 
                            {{else}}
                            <li id="login"> <a href="http://localhost:8080/login" class="right"> Login </a></li>
                           
                            {{end}}
                           
                     </ul>
                    <hr>
                </div>

                <div class="main">
                       
                    {{range .Infos}}
                    <div class="each_project">
                        <div class="project_info">
                            <label class="title">Project Title:</label><label id="pName" class="project_title">{{.ProjectName}}</label><br><br>
                            <label class="description">Description : </label><br>
                            <p class="project_description">{{.ProjectDescription}}</p>
                            
                        </div>
                        <div class="project_action">
                            <button class="start_button" onclick="startContainer('{{.IPAddress}}','{{.ContainerName}}','{{.ProjectType}}')"><i class="fas fa-play fa-lg"></i></button>
                            <button class="stop_button" onclick="download('{{.ZipName}}')"><i class="fas fa-download"></i></button>                            
                        </div>
                        <label id="msg"> </label>
                    </div>
                    {{end}} 
                   
                </div>
        </body>
</html>