<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Upload
        </title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/uploadCSS.css">
        <body>
            <center>
                <div class="main">
                    <ul>
                        <li> <a href="#"> Home </a></li>
                        <li> <a href="#" class="active"> Projects </a></li>
                        <li> <a href="#"> Contact </a></li>
                        <li> <a href="#"> About </a></li>
                        <li> <a href="#" class="right"> Profile </a></li>

                    </ul>

                    <hr>

                    <div class="subMain">
                       <div class="projectList">
                           <form action="http://localhost:8080/projects" enctype="multipart/form-data" action="POST">
                            <label > Project Name :</label>
                            <label name="containerName"> {{.}} </label>
                            
                            <input type="submit" name="startProject" value="run"/> 
                            <br>
                            <lable class="showIP"> {{.}}</lable>
                            <hr>
                            
                            </form>

                        </div>

                        
                    </div>
                    <div class="message">{{.}}</div>

                </div>
            </center>
        </body>
    </head>
</html>