<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Register
        </title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/headerCSS.css">
        <link rel="stylesheet" type="text/css" href="../static/loginCSS.css">
        <script src="https://kit.fontawesome.com/2162f78ebf.js"></script>

        <script type="text/javascript">

            window.onload = function () {
                document.getElementById("password").onchange = validatePassword;
                document.getElementById("confirm_password").onchange = validatePassword;
    
               

            }
            function validatePassword(){
            var pass2=document.getElementById("password").value;
            var pass1=document.getElementById("confirm_password").value;
            if(pass1!=pass2)
                document.getElementById("confirm_password").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("confirm_password").setCustomValidity('');	 
            //empty string means no validation error
            }

            
        function logout(){
            var option = confirm("Are you sure you want to logout ?");
            if( option == true){
                window.open("http://localhost:8080/logout","_self")
            }
        
        }
            
        
            
        </script>


    </head>
        <body>
             
                <div class="header">
                  
                 
                    <ul>
                            <li> <a href="http://localhost:8080/"> Home </a></li>
                            <li > <a href="http://localhost:8080/upload"> upload </a></li>
                            <li> <a href="http://localhost:8080/project"> Projects </a></li>
                       
                            {{if .Username}}
                            <li id="logout"> <a href="http://localhost:8080/logout" class="right" onclick="logout()"> Logout</a></li>
                           <li id="profile"> <a class="right"> {{.Username}}</a></li> 
                            {{else}}
                            <li id="login" class="active"> <a href="http://localhost:8080/login" class="right"> Login </a></li>
                            
                            {{end}}    
                    </ul>
                    
                    <hr>
                </div>
           
                <div class="main">
                    <center>
                        <form method="POST" action="http://localhost:8080/register">
                        <table>
                            <tr height="50">
                                <td>
                                    <label class="uploadLabels" id="name">Username : </label>                                    
                                </td>
                                <td>
                                    <input type="text" name="username" id="username" maxlength="30" required/>                                    
                                </td>                                
                            </tr>
                            <tr height="50">
                                <td>
                                    <label class="uploadLabels" id="mail">Email : </label>                                    
                                </td>
                                <td>
                                    <input type="email" name="email" id="email" required/>                                    
                                </td>
                            </tr>
                            <tr height="50">
                                <td>
                                    <label class="uploadLabels" id="pass"> Password : </label>
                                </td>
                                <td>
                                    <input type="password" name="password" id="password" maxlength="30" required/>
                                </td>                                
                            </tr>
                            <tr height="40">
                                <td>
                                    <label class="uploadLabels" id="confirm_pass"> Confirm Password : </label>
                                </td>
                                <td>
                                    <input type="password" name="confirm_password" id="confirm_password" maxlength="30"  required/>
                                </td>
                            </tr>
                        </table> 
                        <button class="loginButton" type="submit">Register</button>   <br><br>
                        {{if .Success}} <label style="color: green;">  {{.Success}}<a href="http://localhost:8080/login">Login</a></label>{{end}}
                        {{if .Fail}} <label style="color : red;"> {{.Fail}}</label> {{end}}
                      
                    </form>    
                    </center>
                </div>
               

                <script type="text/javascript"> 


                    
                </script>
        </body>
</html>