<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Upload
        </title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/headerCSS.css">
        <link rel="stylesheet" type="text/css" href="../static/uploadCSS.css">        
        <script type="text/javascript">
        function logout(){
            var option = confirm("Are you sure you want to logout ?");
            if( option == true){
                window.open("http://localhost:8080/logout","_self")
            }
        
        }
            
        </script>
    </head>
        <body>
            <div class="header">
                <ul>
                    <li> <a href="http://localhost:8080/"> Home </a></li>
                    <li class="active"> <a href="http://localhost:8080/upload"> upload </a></li>
                    <li> <a href="http://localhost:8080/project"> Projects </a></li>
                   
                   {{if .Username}}
                    <li id="logout"> <a  class="right" onclick="logout()"> Logout</a></li>
                   <li id="profile"> <a  class="right"> {{.Username}}</a></li> 
                    {{else}}
                    <li id="login"> <a href="http://localhost:8080/login" class="right"> Login </a></li>
        
                    {{end}}
                </ul>

                <hr>
            </div>

            <center>
                <div class="main">
                    <div class="subMain">
                        <form class="form" id="uploadForm">
                            
                            <table>
                                <tr height="50">
                                    <td> <label for="project_type" class="uploadLabels" id="project_type">Project Type</label></td>
                                    <td> <select name="project_type" id="project_type" class="styledSelectBox" onchange="handleProjectType(this)"> 
                                        <option value="Website">Website</option>
                                        <option value="Window">Window Application</option>
                                        <option value="Android">Android Application</option>
                                    </select> </td>
                                </tr>

                                <tr height="50">
                                    <td> <label class="uploadLabels" id="project_title"> Project Title : </label></td>
                                    <td><input type="text" name="project_name" id="input_project_title" /> </td>
                                </tr>

                                <tr height="50">
                                    <td> <label class="uploadLabels" id="upload_folder"> Upload Project Folder : </label> 
                                        <label class="uploadLabels" id="upload_application" style="display: none;"> Upload Application : </label> 
                                        <label class="uploadLabels" id="upload_apk" style="display: none;"> Upload Application : </label> 
                                    </td>
                                    <td>  <input type="file" id="folderPicker" name="projectFolder" webkitdirectory multiple/>
                                        <input type="file" id="applicationPicker" name="application" style="display: none;" accept=".jar,.exe"/> 
                                        <input type="file" id="apkPicker" name="apk" style="display: none;" accept=".apk"/>
                                    </td>

                                </tr>

                                <tr height="50">
                                    <td>   <label class="uploadLabels" id="language"> Language :</label>   <label class="uploadLabels" id="device" style="display:none;"> Device :</label></td>
                                    <td>  <select class="styledSelectBox" id="select_language" name="language" onchange="handleLanguageVersion(this)"> 
                                            <option value="J2EE">J2EE</option>
                                            <option value="PHP" selected>PHP</option>
                                            <option value="HTML">HTML</option>
                                        </select>
                                        <select class="styledSelectBox" id="select_device" name="device" style="display :none;"> 
                                            <option value="SAMSUNG">SAMSUNG</option>
                                            <option value="NEXUS" selected>NEXUS</option>
                
                                        </select>
                                     </td>
                               
                                    <td><label class="uploadLabels" id="language_version"> Version :</label></td>
                                    <td><select class="styledSelectBox" id="select_language_version" name="language_version"> 
                                            <option value="5.5">5.5</option>
                                            <option value="5.6">5.6</option>
                                            <option value="7.0" selected>7.0</option>
                                            <option value="7.1">7.2</option>
                                            <option value="7.3">7.3</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr height="50">
                                    <td><label for="database" class="uploadLabels" id="database">Database :</label> <label for="android_version" class="uploadLabels" id="android_version" style="display: none;">Android Version :</label></td>
                                    <td>  <select name="database" id="select_database" class="styledSelectBox" onchange="handleDatabase(this)">
                                            <option value="MySQL" selected>MySQL</option>
                                          </select>

                                          <select name="android_version" id="select_android_version" class="styledSelectBox" style="display: none;">
                                            <option value="5.0" selected>5.0</option>
                                            <option value="6.0" selected>6.0</option>
                                            <option value="7.0" selected>7.0</option>
                                            <option value="8.0" selected>8.0</option>
                                            <option value="9.0" selected>9.0</option>
                                            <option value="10.0" selected>10.0</option>
                                          </select>
                                     </td>
                               
                                    <td><label for="database_version" class="uploadLabels" id="database_version">Version :</label></td>
                                    <td><select name="database_version" id="select_database_version" class="styledSelectBox">
                                            <option value="5.5" selected>5.5</option>
                                            <option value="5.6">5.6</option>
                                            <option value="5.7">5.7</option>
                                            <option value="8.0">8.0</option>
                                           
                                        </select>
                                    </td>
                                </tr>

                                <tr height="50">
                                    <td><label for="database_backup" class="uploadLabels" id="database_backup">Database Backup :</label> <label for="api_version" class="uploadLabels" id="api_version" style="display :none;">API Version :</label></td>
                                    <td><input type="file" id="databaseBackupPicker" name="database_backup" accept=".sql"/>
                                        <select name="api_version" id="select_api_version" class="styledSelectBox" style="display: none;">
                                            <option value="21" selected>21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                           
                                        </select>
                                    </td>
                                    <td><label for="database_name" class="uploadLabels" id="lbl_database_name">Database Name</label></td>
                                    <td><input type="text" id="database_name" name="database_name" /></td>
                                </tr>
                                
                             

                                <tr height="50">
                                    <td><p class="uploadLabels" id="description"> Description : </p></td>
                                    <td colspan="3"><textarea rows="3" cols="50" id="textarea_description" name="project_description"></textarea></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="checkbox" name="permission" value="download">allow download (open source your project)<br></td>
                                </tr>
                            </table>
                                       
                                                    
                          
                            
                            

                            <br>
                            <button class="submitButton"  type="submit">Upload</button>
                        

                            <br>
                            <br>
                        </form>

                        <label id="progressText" style="display: none;"> </label>
                        <div id="cover-spin" style="display: none;"></div>
                     
                     

                        
                
                    </div>
                    

                </div>
            </center>

            <script>

               
                const progress = document.getElementById("progressText");
                const spin = document.getElementById("cover-spin");
                const uploadForm = document.getElementById("uploadForm");
                const inputFile = document.getElementById("folderPicker");
                const uploadFolder = document.querySelector("#upload_folder");
                const folderPicker = document.querySelector("#folderPicker");
                const uploadApplication = document.querySelector("#upload_application");
                const applicationPicker = document.querySelector("#applicationPicker");

                const uploadApk = document.querySelector("#upload_apk");
                const apkPicker = document.querySelector("#apkPicker");
              
                const device = document.querySelector("#device");
                const selectDevice =  document.querySelector("#select_device");
                const androidVersion = document.querySelector("#android_version");
                const selectAndroidVersion = document.querySelector("#select_android_version");
                const apiVersion = document.querySelector("#api_version");
                const selectApiVersion = document.querySelector("#select_api_version");

                const language = document.querySelector("#language");
                const selectLanguage = document.querySelector("#select_language");
                const database = document.querySelector("#database");
                const selectDatabase = document.querySelector("#select_database");
                const databaseBackup = document.querySelector("#database_backup");
                const databaseBackupPicker = document.querySelector("#databaseBackupPicker");
                const lblDatabaseName = document.querySelector("#lbl_database_name");
                const databaseName = document.querySelector("#database_name");

                const languageVersion = document.querySelector("#language_version");
                const selectLanguageVersion = document.querySelector("#select_language_version");
                const databaseVersion = document.querySelector("#database_version");
                const selectDatabaseVersion = document.querySelector("#select_database_version");
              

                uploadForm.addEventListener("submit",uploadFile);
               

                function changeLogin(username){
                      login = document.getElementById("login")
                   
                    if(username){
                        login.style.href="http://localhsot:8080/logout";
                        login.style.textContent = "Logout";
                    }else{
                        console.log("no changes");
                    }
                       
                   
                }
           


                function changeUploadFileType(projectType){
                    if(projectType == "Website"){
                        applicationPicker.style.display = "none";
                        uploadApplication.style.display = "none";
                        apkPicker.style.display = "none";
                        uploadApk.style.display = "none";
                        folderPicker.style.display = "inline";
                        uploadFolder.style.display = "inline";

                        device.style.display = "none";
                        selectDevice.style.display = "none";
                        androidVersion.style.display = "none";
                        selectAndroidVersion.style.display = "none";
                        apiVersion.style.display = "none";
                        selectApiVersion.style.display = "none";

                        language.style.display = "inline";
                        selectLanguage.style.display = "inline";
                        database.style.display = "inline";
                        selectDatabase.style.display = "inline";
                        databaseBackup.style.display = "inline";
                        databaseBackupPicker.style.display = "inline";

                        languageVersion.style.display = "inline";
                        selectLanguageVersion.style.display = "inline";
                        databaseVersion.style.display = "inline";
                        selectDatabaseVersion.style.display = "inline";

                        lblDatabaseName.style.display = "inline";
                        databaseName.style.display = "inline";

                    }else if(projectType == "Window"){
                        folderPicker.style.display = "none";
                        uploadFolder.style.display = "none";
                        apkPicker.style.display = "none";
                        uploadApk.style.display = "none";
                        applicationPicker.style.display = "inline";
                        uploadApplication.style.display = "inline";

                        device.style.display = "none";
                        selectDevice.style.display = "none";
                        androidVersion.style.display = "none";
                        selectAndroidVersion.style.display = "none";
                        apiVersion.style.display = "none";
                        selectApiVersion.style.display = "none";

                        language.style.display = "inline";
                        selectLanguage.style.display = "inline";
                        database.style.display = "inline";
                        selectDatabase.style.display = "inline";
                        databaseBackup.style.display = "inline";
                        databaseBackupPicker.style.display = "inline";

                        languageVersion.style.display = "inline";
                        selectLanguageVersion.style.display = "inline";
                        databaseVersion.style.display = "inline";
                        selectDatabaseVersion.style.display = "inline";

                        lblDatabaseName.style.display = "inline";
                        databaseName.style.display = "inline";
                        
                    }else{
                        folderPicker.style.display = "none";
                        uploadFolder.style.display = "none";
                        apkPicker.style.display = "inline";
                        uploadApk.style.display = "inline";
                        applicationPicker.style.display = "none";
                        uploadApplication.style.display = "none";

                        device.style.display = "inline";
                        selectDevice.style.display = "inline";
                        androidVersion.style.display = "inline";
                        selectAndroidVersion.style.display ="inline";
                        apiVersion.style.display = "inline";
                        selectApiVersion.style.display = "inline";

                        language.style.display = "none";
                        selectLanguage.style.display = "none";
                        database.style.display = "none";
                        selectDatabase.style.display = "none";
                        databaseBackup.style.display = "none";
                        databaseBackupPicker.style.display ="none";

                        languageVersion.style.display = "none";
                        selectLanguageVersion.style.display = "none";
                        databaseVersion.style.display = "none";
                        selectDatabaseVersion.style.display = "none";

                        lblDatabaseName.style.display = "none";
                        databaseName.style.display = "none";
                    }
                       
                }

                function uploadFile(e){
                    {{if .Username}}
                    e.preventDefault();
                    
                    const xhr = new XMLHttpRequest();
                    xhr.open("POST", "upload");
                    xhr.upload.addEventListener("progress", e => {
                        progress.style.display = "block";
                        spin.style.display = "block";
                        console.log(e);
                        const percent = e.lengthComputable ? (e.loaded/e.total) * 100 : 0;
                        progress.textContent = "uploaded "+percent.toFixed(2) + "%";
                    })
                    xhr.upload.addEventListener("loadend" , e => {
                        console.log(e);
                        progress.textContent = "Setting up Project ... ";
                    })

                    xhr.onload = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            console.log("response text :"+this.responseText);
                            progress.textContent = "Setting up Database ... ";
                            setTimeout(function closeSpin(){
                                progress.style.display = "none";
                                spin.style.display = "none";
                                //show dialog
                                //clear frontEndData
                            },2000);
                        }
                    };
                 //   xhr.setRequestHeader("Content-Type","multipart/form-data");
                    xhr.send(new FormData(uploadForm));
                    {{else}}
                    alert("Please login first to upload projects.")
                    {{end}}
                }

                function handleProjectType(control){
                    var versionMap = {Website:["J2EE","PHP","HTML"] , Window:["Java","C++"] , Android:["Java"]}
                    var projectType = control.value;
                    var versionSelector = document.querySelector("#select_language");
                    switch(projectType){
                        case "Website":
                            generateOption(versionMap.Website,document.getElementById("select_language"));
                            handleLanguageVersion(versionSelector);
                            changeUploadFileType(projectType);
                            break;
                        case "Window":
                            generateOption(versionMap.Window,document.getElementById("select_language"));
                            handleLanguageVersion(versionSelector);
                            changeUploadFileType(projectType);
                            break;
                        case "Android":
                            generateOption(versionMap.Android,document.getElementById("select_language"));
                            handleLanguageVersion(versionSelector);
                            changeUploadFileType(projectType);
                            break;
                    }
                }

               


                function deleteChild(elementId){
                    var child = elementId.lastElementChild;
                    while (child) { 
                        elementId.removeChild(child); 
                        child = elementId.lastElementChild; 
                    } 
                }


                function generateOption(valueArray,elementId){
                    deleteChild(elementId);
                    for(var i=0 ; i<valueArray.length ; i++){
                        
                            
                        var opt = valueArray[i];
                        var elmt = document.createElement("option");
                        if(i == 0){
                            elmt.selected = true;
                        }
                           
                        elmt.textContent = opt;
                        elmt.value = opt;
                        elementId.appendChild(elmt);
                    }
                    

                }

                function handleLanguageVersion(control){
                   console.log("handle language version worked");
                    var versionMap = {PHP:["5.5","5.6","7.0","7.2","7.3"] ,
                     J2EE:["1.5","1.6","1.7","1.8","1.9"] , 
                     HTML:["2.0","3.2","4.01","5.0"],
                     Cdoubleplus :["C++11","C++14","C++17"],
                     JAVA : ["1.5","1.6","1.7","1.8","1.9"],
                     Python :["2.7","3.3","3.4","3.5","3.6","3.7"],
                     Csharp : ["4.0","5.0","6.0","7.0"],
                     Kotlin :["1.1","1.2","1.3"]

                     }
                    var language = control.value;
                    console.log(language);
                    switch(language){
                        case "PHP":
                            generateOption(versionMap.PHP,document.getElementById("select_language_version"));
                            break;
                        case "J2EE":
                            generateOption(versionMap.J2EE,document.getElementById("select_language_version"));
                            break;
                        case "HTML":
                            generateOption(versionMap.HTML,document.getElementById("select_language_version"));
                            break;
                        case "C++":
                            generateOption(versionMap.Cdoubleplus,document.getElementById("select_language_version"));
                            break;
                        case "Java":
                            generateOption(versionMap.JAVA,document.getElementById("select_language_version"));
                            break;
                        case "Python":
                            generateOption(versionMap.Python,document.getElementById("select_language_version"));
                            break;
                        case "C#":
                            generateOption(versionMap.Csharp,document.getElementById("select_language_version"));
                            break;
                        case "Kotlin":
                            generateOption(versionMap.Kotlin,document.getElementById("select_language_version"));
                            break;
                    }
                }

                function handleDatabase(control){
                    var dbVersionMap = {
                        MySQL : ["5.5","5.6","5.7","8.0"],
                        MongoDB : ["3.0","3.2","3.4","3.6","4.0"],
                        Oracle : ["10g r1","10g r2","11g r1","11g r2","12c r1"]
                    };
                    var dbName = control.value;
                    switch(dbName){
                        case "MySQL":
                            generateOption(dbVersionMap.MySQL,document.getElementById("select_database_version"));
                            break;
                        case "MongoDB":
                            generateOption(dbVersionMap.MongoDB,document.getElementById("select_database_version"));
                            break;
                         case "Oracle":
                            generateOption(dbVersionMap.Oracle,document.getElementById("select_database_version"));
                            break;
                    }
                }


            </script>
        </body>
</html>