  div.main{
    width: 80%;
    background-color: #d5dbdb;
    box-shadow: 0px 0px 7px 3px #888888;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto ;
    overflow: hidden;
  }
  .each_project{
    border-bottom: 1px solid black;
    margin-top: 10px;
    overflow: hidden;
  }
  .project_info{
    float: left;
    width: 80%;
  }
  .title{
    margin-left: 10px;
    font-size: 18px;
  }
  .project_title{
    margin-left: 10px;
    font-size: 17px;
    font-weight: bold;
  }
  .description{
    margin-left: 10px; 
    font-size: 18px; 
  }
  .project_description{
    padding: 0;
    margin-top: 5px;
    margin-left: 50px; 
    font-size: 15px; 
    line-height: 170%;
    text-align: justify; 
  }
  .project_action{
    float: right;
    margin-right: 20px;
  }
  .start_button{
    margin-right: 5px;
    border: 1px solid green;
    background-color: #58D68D;
    width: 30px;
    height: 25px;
    outline: none;
  }
  .start_button:hover{
    background-color: green;
  }
  .start_button:active{
    background-color: #58D68D ;
  }
  .stop_button{
    border: 1px solid green;
    background-color: #58D68D;
    width: 30px;
    height: 25px;
    outline: none;
  }
  .stop_button:hover{
    background-color: green;
  }
  .stop_button:active{
    background-color: #58D68D;
  }

  select.styledSelectBox{
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(../images/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 90% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
   }

   button.submitButton{
    display: inline-block;
    margin-top: 30px;
    margin-left: 5px;
    padding: 6px 20px;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    font: bold 13px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #555;
    
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));

    transition: background-color .2s ease-out;
    background-clip: padding-box; 
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255,255,255, .9);
  }
  select#project_type{
    width: 200px;
    margin-left: 20px;
  }
  select#language{
    width: 120px;
    margin-left: 20px;
  }
  #search_bar{
      margin-left: 1%;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 1px;
    height: 20px;
  }
 